[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
chainerrl = ">=0.7.0"
minerl = "*"
pydot = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
